*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line{
    width: 5rem;
    height:.3rem;
}
img{
    width: 15rem;
    border: 3px solid chocolate;
    object-fit: cover;
}


.cardDiv{
    height: 15rem;
    margin: auto;
    width: 40rem;
    background-color: lightgray;
    max-width: 35rem;
}